/*Style von Impressum*/

#description {
  margin-top: 90px;
  font-family: "Shree Devanagari 714";
  text-align: center;
}

#headline {
  color: darkred;
  font-weight: bold;
}

#fixed {
  text-align: center;
}

#hi {
  color: darkred;
  font-family: "Shree Devanagari 714";
}

#infos {
  font-family: "Shree Devanagari 714";
  width: 350px;
  background-color: white;
  border: hidden;
  margin-left: 20%;
}

#speak {
  text-align: center;
  font-family: "Shree Devanagari 714";
}

#contactUs {
  color: darkred;

}

#contact {
  width: 50%;
  margin-left: 23%;
}
