#id111
{
  width: 300px;
  height: 450px;
}
.slider
{
  height: 640px;
  position: relative;

}
.slider>img
{
  position:absolute;
  top: 80px;
  left: 50px;
}
#id22
{
  margin-top: 540px;
}
input[name='slide_switch']
{
  display: none;
}
.slider label
{
  margin: 18px 0 0 18px;
  border: 3px solid #999;
  cursor : pointer;
  opacity: .6;
  transition: all .3s;
}

.slider input[name='slide_switch']:checked + label
{
  opacity: 1;
  border-color: #666;
}
.slider input[name='slide_switch']~ img
{
  opacity: 0;
  -webkit-transform: scale(1,1);
  transform: scale(1.1)
}
.slider input[name='slide_switch']:checked +label+img{
  opacity:1;
  -webkit-transform: (1);
  transform : scale(1);

}

#button1
{
  margin-left: 0px;
}
#Groesse
{
  margin-left: 5px ;
  margin-bottom: -2px;
}
#button11
{
  color: black;
  background-color: #e7e7e7;
  padding-right: 33px;
}
#button2
{
  margin-left:79px;
}

#button3
{
  margin-left:79px;
}
#button21
{
  color: white;
  background-color:#e7e7e7 ;
  padding-right: 39px;
}
#button31
{ color: black;
  background-color: #e7e7e7;
  padding-right: 39px;
}
.grad
{
  margin-bottom: 30px;
  width:20px;
  height:20px;
  border-radius:50px;
  background:linear-gradient(to bottom, #FF0000 , #FF0000 )
}
