@import "../../node_modules/bootstrap/less/bootstrap";

/* Space out content a bit */
body {
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {

  height: 50px;
  width: auto;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.button {
  height: 10px;
  width: 10px;

}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 10px;
}

.jumbotron {
  background-image: url("https://media.giphy.com/media/XcsdCc78BtNBu/giphy.gif");
  text-align: center;
  color: white;
}


/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
    text-align: center;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.fotos {
  text-align: left;
  ;
}
.hauptFoto {
  text-align: center;
; }
  .button {
    text-align: center;
  ;}

.midphoto
{
  margin-left : 200px;
}
#midphoto
{
  width: 450px;
  height: 450px;
}
#positionB
{
  margin-left: 50px;
}
#button1
{
  margin-left: 0px;
}
  #button11

  {
    color: black;
    background-color: #e7e7e7;
    padding-right: 33px;
  }
#button2
{
  margin-left:79px;
}

#button3
{
  margin-left:79px;
}
#button21

{
  color: white;
  background-color:#e7e7e7 ;
  padding-right: 39px;
}
  #button31

  { color: black;
    background-color: #e7e7e7;
    padding-right: 39px;
  }
#leftphoto
{
  width: 100px;
  height: 100px;
}
.leftphoto
{
  margin-left: 50px;
}

//Test Webshop//
.produktShop .produktShopName span {
  color: #fff;
}
.produktShop .produktShopName {
  background-color: rgba(7, 7, 7, 0.65);
  color: #fff;
  margin-top: -30px;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 1;
  height: 30px;
  overflow: hidden;
}
.thumb img {
  width: 200px;
  height: 150px;
}

.produktShopName span {
  line-height: 30px;
  position: relative;
  top: -10px;
}
#produktDetails
{
  margin-left: 350px ;
  margin-right: 350px;
}
.grad{

  margin-bottom: 30px;
  width:20px;
  height:20px;
  border-radius:50px;
  background:linear-gradient(to bottom, #FF0000 , #FF0000 )}