@import "../../node_modules/bootstrap/less/bootstrap";
@import "produktAnsicht";
@import "webShop";
@import "artistAnsicht";
@import "artistListAnsicht";
@import "impressum";

/* Space out content a bit */
body {
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
}

/*Customizing of header*/
.navbar-default {
  height: 90px;
  width: auto;
  color: white;
  font-family: "Shree Devanagari 714";
  align: center;
}

#logo {
  max-height: 100%;
  position: absolute;
  top: 0;
}

#b1 {
  color: black;
}

#b2 {
  color: black;
}

#b3 {
  margin-bottom: -35px;
  margin-right: -20px;
  color: black;
}

#b4 {
  margin-bottom: -40px;
  margin-right: -10px;
  color: black;
}

#b5 {
  margin-bottom: -40px;
  color: black;
}

/*Backgroundvideo customizing*/
.jumbotron {
  margin-top: 60px;
  background-image: url("https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/giphy.gif");
  height: 380px;
  background-position: center;
  margin-bottom: -50px;
}

/*Logo in the middle of video*/
#logo2 {
  width: 70%;
  height: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;

}

/* Keine Ahnung
.table {
  border: 1px solid black;
}

.tr {
  height: 40px;;
}*/

/*Customizing rows*/
.row {
  font-family: "Shree Devanagari 714";
  color: black;
  text-align: center;
  border-bottom-style: double;
  border-bottom-color: black;
  border-bottom-width: 2px;
  border-top-style: double;
  border-top-color: black;
  border-top-width: 2px;
}

#competition {
  margin-bottom: -20px;
  background-image: url("https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/stock-illustration-93521929-set-of-decorative-sketch-award-with-trophy.jpg");
  background-position: top;
}

#shop {
  margin-top: -20px;
  margin-bottom: -20px;
  background-image: url("https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/stock-illustration-25261888-shopping-bags.jpg");
  background-position: top;
}

#artists {
  margin-top: -20px;
  margin-bottom: -20px;
  background-image: url("https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/42572066-scissors-cutting-ribbon-drawing.jpg");
  background-position: center;
}

#forum {
  margin-top: -30px;
  margin-bottom: -30px;
  background-image: url("https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/speech-bubbles-sketch-21374783.jpg");
  background-position: center;
  background-size: 45%;
}

#about {
  margin-top: -20px;
  margin-bottom: -20px;
  background-image: url("https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/little_people_dribbb.png");
  background-position: bottom;
  background-size: 100%;
}

/* Customizing footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  font-family: "Shree Devanagari 714";
}

/*Back to top*/
#btt {
  color: black;
}

/* Customize container*/
@media (min-width: 768px) {
  .container {
    max-width: 730px;
    text-align: center;
  }
}
.container-narrow > hr {
  margin: 30px;
}

/* Main marketing message and sign up button*/
.fotos {
  text-align: left;
;
}
.hauptFoto {
  text-align: center;
; }
.button {
  text-align: center;
;}


#positionB {
  margin-left: 50px;
}