


<div class="Artistcontainer">
    <img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/work%20in%20Progress.png?BCB"/>
    <p>Hier wird mal ein langer Text stehn , aber gerade nur dieser blöder Platzhaltert aus Test gründen</p>
</div>
