<!-- Artsitlistenbereich-->

<div id = "buttonArtist">

    <ul>

        <ol>
            <p id = "Collectionwählen"><strong>Sort by Collection</strong></p>
            <select name="collection">
                <option value="Wählen"><strong>Wählen</strong></option>
                <option value="A">Collection A</option>
                <option value="B">collection B</option>
                <option value="C">Collection C</option>
                <option value="D">Collection D</option>
                <option value="E">Collection E</option>
            </select>

        </ol>
    </ul>
</div>

<!-- Zur Zeit 3 Reihen a 3 Artist -->
<div class="row artistListAnsicht" >
    <div class="aArtist col-md-12">
        <a class="thumbnail" href="/artistAnsicht.html">
            <!-- Einbindung des Bildes : hier Bsp link aus dem web-->
            <img  src="http://digitalmofo.com/wp-content/plugins/rss-poster/cache/7947b_logo-example.jpg" >
            <div class="wrapper">
                <div class="caption artistName">
                    <!-- wird auf Logobild gelegt-->
                    <span>Artist</span>
                </div>
            </div>
        </a>
    </div>
    <div class="aArtist col-md-12">
        <a class="thumbnail" href="/artistAnsicht.html">
            <!-- Einbindung des Bildes : hier Bsp link aus dem web-->
            <img  src="http://digitalmofo.com/wp-content/plugins/rss-poster/cache/7947b_logo-example.jpg" >
            <div class="wrapper">
                <div class="caption artistName">
                    <!-- wird auf Logobild gelegt-->
                    <span>Artist</span>
                </div>
            </div>
        </a>
    </div>
    <div class="aArtist col-md-12">
        <a class="thumbnail" href="/artistAnsicht.html">
            <!-- Einbindung des Bildes : hier Bsp link aus dem web-->
            <img  src="http://digitalmofo.com/wp-content/plugins/rss-poster/cache/7947b_logo-example.jpg" >
            <div class="wrapper">
                <div class="caption artistName">
                    <!-- wird auf Logobild gelegt-->
                    <span>Artist</span>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="row artistListAnsicht" >
    <div class="aArtist col-md-12">
        <a class="thumbnail" href="/artistAnsicht.html">
            <!-- Einbindung des Bildes : hier Bsp link aus dem web-->
            <img  src="http://digitalmofo.com/wp-content/plugins/rss-poster/cache/7947b_logo-example.jpg" >
            <div class="wrapper">
                <div class="caption artistName">
                    <!-- wird auf Logobild gelegt-->
                    <span>Artist</span>
                </div>
            </div>
        </a>
    </div>
    <div class="aArtist col-md-12">
        <a class="thumbnail" href="/artistAnsicht.html">
            <!-- Einbindung des Bildes : hier Bsp link aus dem web-->
            <img  src="http://digitalmofo.com/wp-content/plugins/rss-poster/cache/7947b_logo-example.jpg" >
            <div class="wrapper">
                <div class="caption artistName">
                    <!-- wird auf Logobild gelegt-->
                    <span>Artist</span>
                </div>
            </div>
        </a>
    </div>
    <div class="aArtist col-md-12">
        <a class="thumbnail" href="/artistAnsicht.html">
            <!-- Einbindung des Bildes : hier Bsp link aus dem web-->
            <img  src="http://digitalmofo.com/wp-content/plugins/rss-poster/cache/7947b_logo-example.jpg" >
            <div class="wrapper">
                <div class="caption artistName">
                    <!-- wird auf Logobild gelegt-->
                    <span>Artist</span>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="row artistListAnsicht" >
    <div class="aArtist col-md-12">
        <a class="thumbnail" href="/artistAnsicht.html">
            <!-- Einbindung des Bildes : hier Bsp link aus dem web-->
            <img  src="http://digitalmofo.com/wp-content/plugins/rss-poster/cache/7947b_logo-example.jpg" >
            <div class="wrapper">
                <div class="caption artistName">
                    <!-- wird auf Logobild gelegt-->
                    <span>Artist</span>
                </div>
            </div>
        </a>
    </div>
    <div class="aArtist col-md-12">
        <a class="thumbnail" href="/artistAnsicht.html">
            <!-- Einbindung des Bildes : hier Bsp link aus dem web-->
            <img  src="http://digitalmofo.com/wp-content/plugins/rss-poster/cache/7947b_logo-example.jpg" >
            <div class="wrapper">
                <div class="caption artistName">
                    <!-- wird auf Logobild gelegt-->
                    <span>Artist</span>
                </div>
            </div>
        </a>
    </div>
    <div class="aArtist col-md-12">
        <a class="thumbnail" href="/artistAnsicht.html">
            <!-- Einbindung des Bildes : hier Bsp link aus dem web-->
            <img  src="http://digitalmofo.com/wp-content/plugins/rss-poster/cache/7947b_logo-example.jpg" >
            <div class="wrapper">
                <div class="caption artistName">
                    <!-- wird auf Logobild gelegt-->
                    <span>Artist</span>
                </div>
            </div>
        </a>
    </div>
</div>