<!DOCTYPE html> 
<html lang="de"> 
<head> 
    <meta charset="utf-8">
     
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     
    <meta name="viewport" content="width=device-width, initial-scale=1">
     
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags --> 
    <meta name="description" content="">
     
    <meta name="author" content="">
     
    <link rel="icon" href="../../favicon.ico">
       <title>Power to the People</title>      <!-- Bootstrap core CSS --> 
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
            <!-- build:css css/app.css --> 

    <link href="css/style.css" rel="stylesheet">

<!-- test -->
    <link rel="stylesheet" type="text/css" media="screen" href="http://cdnjs.cloudflare.com/ajax/libs/fancybox/1.3.4/jquery.fancybox-1.3.4.css" />
    <style type="text/css">
        a.fancybox img {
            border: none;
            box-shadow: 0 1px 7px rgba(0,0,0,0.6);
            -o-transform: scale(1,1); -ms-transform: scale(1,1); -moz-transform: scale(1,1); -webkit-transform: scale(1,1); transform: scale(1,1); -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;
        }
        a.fancybox:hover img {
            position: relative; z-index: 999; -o-transform: scale(1.03,1.03); -ms-transform: scale(1.03,1.03); -moz-transform: scale(1.03,1.03); -webkit-transform: scale(1.03,1.03); transform: scale(1.03,1.03);
        }
    </style>

</head>
  <!-- NAVBAR ================================================== --> 
<body>  
<nav class="navbar navbar-default navbar-fixed-top"> 
    <div class="container-fluid">

        <div class="navbar-header"> 
            <a href="index.html"><img id="logo"
                                      src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/LogoB.png"></a>
        </div>

        <ul class="nav navbar-nav navbar-right"> 

            <li>
                <a id="b1" , class="glyphicon glyphicon-user" , class="btn btn-default" href="#"> SIGN UP</a>
            </li>

            <li>
                <a id="b2" , class="glyphicon glyphicon-log-in" , class="btn btn-default" href="#"> LOG IN</a>
            </li>

            <li class="dropdown"> 


                <button id="b3" , class="btn btn-link" ‚ class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-align-justify"></span></button>
                <span class="caret"></span> 
                <ul class="dropdown-menu"> 

                    <li><a href="#">COMPETITION</a></li>
                     
                    <li><a href="/webShop.html">SHOP</a></li>
                     
                    <li><a href="#">FORUM</a></li>
                     
                    <li><a href="/artistListAnsicht.html">ARTIST</a></li>
                     
                    <li><a href="/impressum.html">ABOUT US</a></li>
                     
                </ul>

            </li>

            <li>
                <a id="b4" , class="btn btn-link" , href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a>
            </li>

            <li>
                <a id="b5" , class="btn btn-link" , href="#"><span class="glyphicon glyphicon-heart"></span></a>
            </li>
             
        </ul>
         
    </div>

     
</nav>
