<!DOCTYPE html> 
<html lang="de"> 
<head> 
    <meta charset="utf-8">
     
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     
    <meta name="viewport" content="width=device-width, initial-scale=1">
     
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags --> 
    <meta name="description" content="">
     
    <meta name="author" content="">
     
    <link rel="icon" href="../../favicon.ico">
       <title>Power to the People</title>      <!-- Bootstrap core CSS --> 
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
            <!-- build:css css/app.css --> 

    <link href="css/style.css" rel="stylesheet">
    <script type="text/javascript" src="../../js/jquery.elevatezoom.js"></script>
    <script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>


         <!-- endbuild --> 
</head>
  <!-- NAVBAR ================================================== --> 
<body>  
<nav class="navbar navbar-default navbar-fixed-top"> 
    <div class="container-fluid">

        <div class="navbar-header"> 
            <a href="index.html"><img id="bild1"
                                      src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/Farbkonzept%204.png"></a>
        </div>

        <ul class="nav navbar-nav navbar-right"> 

            <li>
                <a id="b1" , class="glyphicon glyphicon-user" , class="btn btn-default" href="#"> SIGN UP</a>
            </li>

            <li>
                <a id="b2" , class="glyphicon glyphicon-log-in" , class="btn btn-default" href="#"> LOG IN</a>
            </li>

            <li class="dropdown"> 


                <button id="b3" , class="btn btn-link" ‚ class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-align-justify"></span></button>
                <span class="caret"></span> 
                <ul class="dropdown-menu"> 

                    <li><a href="#">COMPETITION</a></li>
                     
                    <li><a href="/webShop.html">SHOP</a></li>
                     
                    <li><a href="#">FORUM</a></li>
                     
                    <li><a href="/artistListAnsicht.html">ARTIST</a></li>
                     
                    <li><a href="/impressum.html">ABOUT US</a></li>
                     
                </ul>

            </li>

            <li>
                <a id="b4" , class="btn btn-link" , href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a>
            </li>

            <li>
                <a id="b5" , class="btn btn-link" , href="#"><span class="glyphicon glyphicon-heart"></span></a>
            </li>
             
        </ul>
         
    </div>

     
</nav>
