<div id="description" , class="container-fluid">
    <h1 id="headline">ABOUT US</h1>
    <p>„Power To The People“ ist ein Slogan für das Volk und gegen das Establishment. Es steht für einen Umbruch, für
        die Verteilung der Macht aus dem festen Griff von Wenigen in die offenen Hände von Vielen. Mit exakt dieser
        Vision und dieser Perspektive möchte sich das Unternehmen „Power To The People“ auf dem Modemarkt etablieren,
        Veränderungen bewirken und der breiten Masse von Modedesignern einen Teil der Kraft der großen Konzerne zurück
        geben.
    </p>
</div>


<div id="fixed" class="container">

    <h2 id="hi">IMPRINT</h2>

    <pre id="infos">
        POWER TO THE PEOPLE
        Straße 1
        21000 Hamburg
        Germany
        E-Mail Adresse: service@pttp.de

        Management
        Philip Baharlou
    </pre>

</div>

<!--Contact form-->
<div id="contactForm">
    <h4 id="contactTitle">Contact Us</h4>
    <div class="form-group">
        <label for="usr">Name:</label>
        <input type="text" class="form-control" id="usr">
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd">
    </div>
    <div class="form-group">
        <label for="comment">Comment:</label>
        <textarea class="form-control" rows="5" id="comment"></textarea>
    </div>
    <div class="form-group">
        <label for="question">Please answer: 3+4=?</label>
        <input type="text" class="form-control" id="question">
    </div>

    <div id="send" class="btn btn-primary">Send</div>
</div>