<div class="jumbotron">
    <img id="bild2" , src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/Farbkonzept%204.png">
</div>


       <!-- Marketing messaging and featurettes     ================================================== --> 
<!-- Wrap the rest of the page in another container to center all the content. -->   
<!-- START THE FEATURETTES -->  
<hr class="featurette-divider">  
<a href="#">
    <div class="row featurette"> 
        <div class="col-md-7">  <h2 class="featurette-heading">COMPETITION<span class="text-muted"></span></h2>  <p
                class="lead"></p> 
        </div>
         
        <div class="col-md-5"> 
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto"
                 alt="Generic placeholder image">
             
        </div>
         
    </div>
      </a>
<hr class="featurette-divider">  
<a href="/webShop.html">
    <div class="row featurette"> 
        <div class="col-md-7 col-md-push-5">  <h2 class="featurette-heading">SHOP<span class="text-muted"></span></h2> 
            <p
                    class="lead"></p> 
        </div>
         
        <div class="col-md-5 col-md-pull-7"> 
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto"
                 alt="Generic placeholder image">
             
        </div>
         
    </div>
      </a>
<hr class="featurette-divider">  
<a href="/artistListAnsicht.html">
    <div class="row featurette"> 
        <div class="col-md-7">  <h2 class="featurette-heading"> ARTISTS<span class="text-muted"></span></h2>  <p
                class="lead"></p> 
        </div>
         
        <div class="col-md-5"> 
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto"
                 alt="Generic placeholder image">
             
        </div>
         
    </div>
      
</a>
<hr class="featurette-divider">  
<a href="#">
    <div class="row featurette"> 
        <div class="col-md-7 col-md-push-5">  <h2 class="featurette-heading">FORUM<span class="text-muted"></span></h2> 
            <p
                    class="lead"></p> 
        </div>
         
        <div class="col-md-5 col-md-pull-7"> 
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto"
                 alt="Generic placeholder image">
             
        </div>
         
    </div>
      
</a>
<hr class="featurette-divider">  
<a href="#">
    <div class="row featurette"> 
        <div class="col-md-7">  <h2 class="featurette-heading">ABOUT US<span class="text-muted"></span>
        </h2>  <p
                class="lead"></p> 
        </div>
         
        <div class="col-md-5"> 
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto"
                 alt="Generic placeholder image">
             
        </div>
         
    </div>
     
</a>
<hr class="featurette-divider">    
