<div class="jumbotron">
    <h1>Power to the people</h1>


</div>


       <!-- Marketing messaging and featurettes     ================================================== -->     <!-- Wrap the rest of the page in another container to center all the content. -->       <!-- START THE FEATURETTES -->  
<hr class="featurette-divider">  
<div class="row featurette"> 
    <div class="col-md-7">  <h2 class="featurette-heading">COMPETITION <span class="text-muted"></span></h2>  <p
            class="lead"></p> 
    </div>
     
    <div class="col-md-5"> 
        <!--   <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image"> -->
         
    </div>
     
</div>  
<hr class="featurette-divider">  
<div class="row featurette"> 
    <div class="col-md-7 col-md-push-5">  <h2 class="featurette-heading">SHOP<span class="text-muted"></span></h2>  <p
            class="lead"></p> 
    </div>
     
    <div class="col-md-5 col-md-pull-7"> 
        <!-- <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image"> -->
         
    </div>
     
</div>  
<hr class="featurette-divider">  
<div class="row featurette"> 
    <div class="col-md-7">  <h2 class="featurette-heading">ARTISTS <span class="text-muted"></span></h2>  <p
            class="lead"></p> 
    </div>
     
    <div class="col-md-5"> 
        <!--  <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image"> -->
         
    </div>
     
</div>  
<hr class="featurette-divider">  
<div class="row featurette"> 
    <div class="col-md-7 col-md-push-5">  <h2 class="featurette-heading">FORUM<span class="text-muted"></span></h2>  <p
            class="lead"></p> 
    </div>
     
    <div class="col-md-5 col-md-pull-7"> 
        <!-- <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image"> -->
         
    </div>
     
</div>  
<hr class="featurette-divider">  
<div class="row featurette"> 
    <div class="col-md-7">  <h2 class="featurette-heading">ABOUT US<span class="text-muted"></span></h2>  <p
            class="lead"></p> 
    </div>
     
    <div class="col-md-5"> 
        <!-- <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image"> -->
         
    </div>
     
</div> 
<hr class="featurette-divider">    
