
<table align="center">
    <tr>
        <td >
            <div class="leftphoto">
                <img id= "leftphoto" src=" http://pics4.esprit.de/Shop/PicSPV_ZoomSecondView/096EO1F013_110.jpg" alt="First slide">
            </div>
            <div class="leftphoto">
                <img id= "leftphoto" src="http://pics4.esprit.de/Shop/PicSPV_ZoomSide/096EO1F013_110.jpg" alt="First slide">
            </div>
            <div class="leftphoto">
                <img id= "leftphoto" src="http://pics4.esprit.de/Shop/PicSPV_ZoomSecondView/096EO1F013_110.jpg" alt="First slide">
            </div>
        </td>
        <td>

                <div class="midphoto">
                    <img id="midphoto"src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" alt="First slide">
                </div>



        </td>
        <td>

            <div id = "button2" >
                <h2> Preis </h2>

            </div>
            <div class ="grad" id = "button2">
                <h2 id ="button22"></h2>
            </div>



            <div id = "button1">
                <ul id="dropdown">
                    <ol class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><button id="button11"class="btn  " >Größe</button> </a>
                        <ol id class="dropdown-menu">

                            <li><a href="#">XS</a></li>
                            <li><a href="#">S</a></li>
                            <li><a href="#">M</a></li>
                            <li><a href="#">L</a></li>
                            <li><a href="#">XL</a></li>
                        </ol>
                    </ol>
                </ul>
            </div>
            <h3>
                <div id = "button2">
                    <button id ="button21" type="button" class="btn  "><strong>In den Warenkorb</strong></button>
                </div></h3>
            <h3>
                <div id ="button3">
                    <button id ="button31" type="button" class="btn  "><strong>Wunschzettel        </strong></button>
                </div></h3>
            </div>

        </td>
    </tr>
    <tr>

        <td  valign="middle" align="center" colspan="3">
            <p style="margin-top: 30px"><strong>Business-Bluse aus Baumwollmix</strong></p>
            <p id ="produktDetails">
              Hier geht es um eine ziemlich schöne Frau, tolles Gesicht  aber schade, dass sie nicht viel lächeln . scheiße
        </p></td>
    </tr>
</table>

