
<table class="contain" align="center">
    <tr>
        <td >
            <div class="leftphoto">
                <img id= "leftphoto1" src=" http://pics4.esprit.de/Shop/PicSPV_ZoomSecondView/096EO1F013_110.jpg" alt="First slide">
            </div>
            <div class="leftphoto">
                <img id= "leftphoto2" src="http://pics4.esprit.de/Shop/PicSPV_ZoomSide/096EO1F013_110.jpg" alt="First slide">
            </div>
            <div class="leftphoto">
                <img id= "leftphoto3" src="http://pics4.esprit.de/Shop/PicSPV_ZoomFlat/096EO1F013_110.jpg" alt="First slide">
            </div>
        </td>


        <td>

                <div class="midphoto">
                    <img src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" width="300px" height="500px" alt="mid "
                    />
                </div>

        </td>

        <td>

            <div id = "button2" >
                <h2> Preis </h2>

            </div>
            <div class ="kreis" >
                <h2 id ="button22"></h2>
            </div>



            <div id = "button1">

                <ul>

                    <ol>
                        <p id = "Groesse"><strong>Größe</strong></p>
                        <select name="size">
                            <option value="Wählen"><strong>Wählen</strong></option>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>

                    </ol>
                </ul>
            </div>
            <h3>
                <div id = "button2">
                    <button id ="button21" type="button" class="btn  "><strong>In den Warenkorb</strong></button>
                </div></h3>
            <h3>
                <div id ="button3">
                    <button id ="button31" type="button" class="btn  "><strong>Wunschzettel</strong></button>
                </div></h3>
            </div>

        </td>


    </tr>


    <tr>

        <td  valign="middle" align="center" colspan="3">
            <p style="margin-top: 30px"><strong>Business-Bluse aus Baumwollmix</strong></p>
            <p id ="produktDetails">
              Hier geht es um eine ziemlich schöne Frau, tolles Gesicht  aber schade, dass sie nicht viel lächeln . scheiße
        </p></td>
    </tr>
</table>
