
<table align="center">


    <tr>
        <td>
            <p><strong>Fließende Satinbluse mit Volant</strong></p>
            <p>Details</p>
            <p>Größeninfo</p>
            <p>Material/Pflege</p>
            <img  src="http://pics3.esprit.de/Shop/images/default/global/caresymbols/CareSym02.png" alt="test" >
            <img  src="http://pics3.esprit.de/Shop/images/default/global/caresymbols/CareSym08.png" alt="" >
            <img  src="http://pics3.esprit.de/Shop/images/default/global/caresymbols/CareSym0C.png" alt="" >
            <img  src="http://pics3.esprit.de/Shop/images/default/global/caresymbols/CareSym0F.png" alt="" >
            <img  src="http://pics3.esprit.de/Shop/images/default/global/caresymbols/CareSym06.png" alt="" >

        </td>
        <td>
            <div class="slider">
                <input type="radio" name="slide_switch" id="id1" checked>
                <label id="id11" for="id1">
                    <img  src="http://pics4.esprit.de/Shop/PicSPV_ThumbOutfit/096EO1F013_110.jpg" alt="image" width ="50px">
                </label>
                <!--main image-->
                <img  id="id111" src ="http://pics4.esprit.de/Shop/PicSPV_ZoomOutfit/096EO1F013_110.jpg" alt="image">

                <input type="radio" name="slide_switch" id="id2">
                <label id="id22" for="id2">
                    <img src="http://pics4.esprit.de/Shop/PicSPV_ThumbMainView/096EO1F013_110.jpg" alt="image" width ="50px">
                </label>
                <!--main image-->
                <img id="id111" src ="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" alt="image">

                <input type="radio" name="slide_switch" id="id3">
                <label id="id33" for="id3">
                    <img src="http://pics4.esprit.de/Shop/PicSPV_ThumbSecondView/096EO1F013_110.jpg" alt="image" width ="50px">
                </label>
                <img id="id111" src ="http://pics4.esprit.de/Shop/PicSPV_ZoomSecondView/096EO1F013_110.jpg" alt="image">

                <input type="radio" name="slide_switch" id="id4">
                <label id="id33" for="id4">
                    <img src="http://pics4.esprit.de/Shop/PicSPV_ThumbSide/096EO1F013_110.jpg" alt="image" width ="50px">
                </label>
                <img id="id111" src ="http://pics4.esprit.de/Shop/PicSPV_ZoomSide/096EO1F013_110.jpg" alt="image">

                <input type="radio" name="slide_switch" id="id5">
                <label id="id33" for="id5">
                    <img  src="http://pics4.esprit.de/Shop/PicSPV_ThumbFlat/096EO1F013_110.jpg" alt="image" width ="50px">
                </label>
                <img id="id111" src ="http://pics4.esprit.de/Shop/PicSPV_ZoomFlat/096EO1F013_110.jpg" alt="image">


            </div>
        </td>
        <td>
            <div id = "button2" >
                <h2> Preis </h2>
            </div>
            <div class ="grad" id = "button2">
                <h2 id ="button22"></h2>
            </div>
            <div id = "button1">
                <ul>
                    <ol>
                        <p id = "Groesse"><strong>Größe</strong></p>
                        <select name="size">
                            <option value="Wählen"><strong>Wählen</strong></option>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>
                    </ol>
                </ul>
            </div>
            <h3>
                <div id = "button2">
                    <button id ="button21" type="button" class="btn  "><strong>In den Warenkorb</strong></button>
                </div></h3>
            <h3>
                <div id ="button3">
                    <button id ="button31" type="button" class="btn  "><strong>Wunschzettel</strong></button>
                </div></h3>
            </div>
        </td>
    </tr>
</table>
