
<table>
    <tr>
        <td>
            <div class="leftphoto">
                <img id= "leftphoto" src="http://vignette3.wikia.nocookie.net/lostpedia/images/7/78/Kleidung-klein.png/revision/latest?cb=20080718151755&path-prefix=de" alt="First slide">
            </div>
            <div class="leftphoto">
                <img id= "leftphoto" src="http://vignette3.wikia.nocookie.net/lostpedia/images/7/78/Kleidung-klein.png/revision/latest?cb=20080718151755&path-prefix=de" alt="First slide">
            </div>
            <div class="leftphoto">
                <img id= "leftphoto" src="http://vignette3.wikia.nocookie.net/lostpedia/images/7/78/Kleidung-klein.png/revision/latest?cb=20080718151755&path-prefix=de" alt="First slide">
            </div>
        </td>
        <td>

                <div class="midphoto">
                    <img id="midphoto"src="http://vignette3.wikia.nocookie.net/lostpedia/images/7/78/Kleidung-klein.png/revision/latest?cb=20080718151755&path-prefix=de" alt="First slide">
                </div>



        </td>
        <td>
            <div id = "button2">
                <h2 id ="button22"">Verfügbarkeit</h2>
            </div>
            <div id = "button2" >
                <h2>Hier wird den Preis von Datenbank aufgerufen</h2>

            </div>
            <div id = "button1">
                <ul id="dropdown">
                    <ol class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><button id="button11"class="btn btn-success " >Große Wählen</button> </a>
                        <ol id class="dropdown-menu">

                            <li><a href="#">XS</a></li>
                            <li><a href="#">S</a></li>
                            <li><a href="#">M</a></li>
                            <li><a href="#">L</a></li>
                            <li><a href="#">XL</a></li>
                        </ol>
                    </ol>
                </ul>
            </div>
            <h3>
                <div id = "button2">
                    <button type="button" class="btn btn-success ">In den Warenkorb</button>
                </div></h3>
            <h3>
                <div id ="button3">
                    <button id ="button31" type="button" class="btn btn-success ">Wunschzettel</button>
                </div></h3>
            </div>

        </td>
    </tr>
    <tr>

        <td  valign="middle" align="center" colspan="3"><p id ="produktDetails">
            Details:
            Ob chic, lässig oder romantisch - style sie, wie es Dir gefällt.
            Die locker figurumspielende Hemdbluse verfügt über einen gerüschten Stehkragen und Rüschenakzente an den Manschetten.
            Die Knopfleiste sowie die Manschetten sind mit schimmernden Perlmuttknöpfen besetzt.
            Der Saum ist abgerundet.
            Den Rücken ziert eine doppelte Schulterpasse.
            Grösseninfo:
            Länge ab Rückenmitte in Gr. 36 ca. 70 cm, Ärmellänge ab Schulter ca. 62 cm (kann je nach Gr. leicht variieren)
            Material / Pflege:
            97% Baumwolle | 3% Elasthan | Enthält nichttextile Teile tierischen Ursprungs
        </p></td>
    </tr>
</table>
