<div class="Webshoppage">
<div class="container">

<!-- An der Seite zu findendende Kategorienauswahl-->
    <div class="list-group-Segment">
        <a href="#" class="list-group-item" onclick="sortdivTops();">Tops</a>
        <a href="#" class="list-group-item" onclick="sortdivShirt();">Shirts</a>
        <a href="#" class="list-group-item" onclick="sortdivPullover();">Pullover</a>
        <a href="#" class="list-group-item" onclick="sortdivJacken();">Jacken</a>
    </div>
    <!-- Produnktpräsenationsbereich-->
    <!-- Zur Zeit Reihen a 3 Produkte-->

    <div id="list">
        <!-- IN main.js zu finden, wird erst mit DB Daten befüllt dann hier erzeugt-->


    </div>
</div>
</div>
</div>