

<div class="container">
    <div class="Segment">

        <h2>Segment</h2>
        <h3><a href="#">Shirts</a></h3>
        <h3><a href="#">Tops</a></h3>
        <h3><a href="#">Pullover</a></h3>
        <h3><a href="#">Jacken</a></h3>

    </div>

    <div class="row produktShop" >
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://www.edupics.com/coloring-page-t-shirt-dm19012.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Produkt Preis</span>
                    </div>
                </div>
            </a>
            <a href="#"> Link to Artist</a>
        </div>
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://www.edupics.com/coloring-page-t-shirt-dm19012.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Produkt Preis</span>
                    </div>
                </div>
            </a>
            <a href="#"> Link to Artist</a>
        </div>
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://www.edupics.com/coloring-page-t-shirt-dm19012.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Produkt Preis</span>
                    </div>
                </div>
            </a>
            <a href="#"> Link to Artist</a>
        </div>
    </div>
    <div class="row produktShop" >
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://www.edupics.com/coloring-page-t-shirt-dm19012.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Produkt Preis</span>
                    </div>
                </div>
            </a>
            <a href="#"> Link to Artist</a>
        </div>
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://www.edupics.com/coloring-page-t-shirt-dm19012.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Produkt Preis</span>
                    </div>
                </div>
            </a>
            <a href="#"> Link to Artist</a>
        </div>
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://www.edupics.com/coloring-page-t-shirt-dm19012.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Produkt Preis</span>
                    </div>
                </div>
            </a>
            <a href="#"> Link to Artist</a>
        </div>
    </div>
    <div class="row produktShop" >
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://www.edupics.com/coloring-page-t-shirt-dm19012.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Produkt Preis</span>
                    </div>
                </div>
            </a>
            <a href="#"> Link to Artist</a>
        </div>
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://www.edupics.com/coloring-page-t-shirt-dm19012.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Produkt Preis </span>
                    </div>
                </div>
            </a>
            <a href="#"> Link to Artist</a>
        </div>
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://www.edupics.com/coloring-page-t-shirt-dm19012.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Produkt Preis</span>
                    </div>
                </div>
            </a>
            <a href="#"> Link to Artist</a>
        </div>
    </div>
</div>