<div class="container">
    <div class="list-group-Segment">
        <a href="#" class="list-group-item" onclick="sortdiv();">Shirts</a>
        <a href="#" class="list-group-item" onclick="sortdiv();">Tops</a>
        <a href="#" class="list-group-item" onclick="sortdiv();">Pullover</a>
        <a href="#" class="list-group-item" onclick="sortdiv();">Jacken</a>
    </div>
    <!-- Produnktpräsenationsbereich-->
    <!-- Zur Zeit 3 Reihen a 3 Produkte-->

    <div id="list">
        <div id="-2">
            <div class="aProdukt col-md-12">
                <a class="thumbnail" href="/produktAnsicht.html">
                    <!-- Einbindung des Bildes : hier Bsp link aus dem web-->
                    <img  src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/work%20in%20Progress.png?BCB" >
                    <div class="wrapper">
                        <div class="caption produktShopName">
                            <!-- wird auf Produktbild gelegt-->
                            <span>Produkt 2 Preis</span>
                        </div>
                    </div>
                </a>
                <!-- Bsp wie Artistlink einzubinden-->
                <a href="/artistAnsicht.html"> Link to Artist</a>
            </div>
        </div>
        <div id="-3">
            <div class="aProdukt col-md-12">
                <a class="thumbnail" href="/produktAnsicht.html">
                    <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                    <div class="wrapper">
                        <div class="caption produktShopName">
                            <span>Produkt 3 Preis</span>
                        </div>
                    </div>
                </a>
                <a href="/artistAnsicht.html"> Link to Artist</a>
            </div>
        </div>
        <div id="-1">
            <div class="aProdukt col-md-12">
                <a class="thumbnail" href="/produktAnsicht.html">
                    <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                    <div class="wrapper">
                        <div class="caption produktShopName">
                            <span>Produkt 1 Preis</span>
                        </div>
                    </div>
                </a>
                <a href="/artistAnsicht.html"> Link to Artist</a>
            </div>
        </div>
        <div id="-1">
            <div class="aProdukt col-md-12">
                <a class="thumbnail" href="/produktAnsicht.html">
                    <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                    <div class="wrapper">
                        <div class="caption produktShopName">
                            <span>Produkt 1 Preis</span>
                        </div>
                    </div>
                </a>
                <a href="/artistAnsicht.html"> Link to Artist</a>
            </div>
        </div>
        <div id="-1">
            <div class="aProdukt col-md-12">
                <a class="thumbnail" href="/produktAnsicht.html">
                    <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                    <div class="wrapper">
                        <div class="caption produktShopName">
                            <span>Produkt 1 Preis</span>
                        </div>
                    </div>
                </a>
                <a href="/artistAnsicht.html"> Link to Artist</a>
            </div>
        </div>
        <div id="-1">
            <div class="aProdukt col-md-12">
                <a class="thumbnail" href="/produktAnsicht.html">
                    <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                    <div class="wrapper">
                        <div class="caption produktShopName">
                            <span>Produkt 1 Preis</span>
                        </div>
                    </div>
                </a>
                <a href="/artistAnsicht.html"> Link to Artist</a>
            </div>
        </div>
        <div id="-1">
            <div class="aProdukt col-md-12">
                <a class="thumbnail" href="/produktAnsicht.html">
                    <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                    <div class="wrapper">
                        <div class="caption produktShopName">
                            <span>Produkt 1 Preis</span>
                        </div>
                    </div>
                </a>
                <a href="/artistAnsicht.html"> Link to Artist</a>
            </div>
        </div>
        <div id="-1">
            <div class="aProdukt col-md-12">
                <a class="thumbnail" href="/produktAnsicht.html">
                    <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                    <div class="wrapper">
                        <div class="caption produktShopName">
                            <span>Produkt 1 Preis</span>
                        </div>
                    </div>
                </a>
                <a href="/artistAnsicht.html"> Link to Artist</a>
            </div>
        </div>
        <div id="-1">
            <div class="aProdukt col-md-12">
                <a class="thumbnail" href="/produktAnsicht.html">
                    <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                    <div class="wrapper">
                        <div class="caption produktShopName">
                            <span>Produkt 1 Preis</span>
                        </div>
                    </div>
                </a>
                <a href="/artistAnsicht.html"> Link to Artist</a>
            </div>
        </div>
    </div>
</div>







<!-- alter Kram zu Sichherheit-->
<!-- Kategorienauswahl
<div class="container">
    <div class="list-group-Segment">
        <a href="#" class="list-group-item">Shirts</a>
        <a href="#" class="list-group-item">Tops</a>
        <a href="#" class="list-group-item">Pullover</a>
        <a href="#" class="list-group-item">Jacken</a>
    </div>
<!-- Produnktpräsenationsbereich-->
    <!-- Zur Zeit 3 Reihen a 3 Produkte
    <div class="row produktShop" >
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <!-- Einbindung des Bildes : hier Bsp link aus dem web
                <img  src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/work%20in%20Progress.png?BCB" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <!-- wird auf Produktbild gelegt
                        <span>Produkt Preis</span>
                    </div>
                </div>
            </a>
            <!-- Bsp wie Artistlink einzubinden
            <a href="/artistAnsicht.html"> Link to Artist</a>
        </div>
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Produkt Preis</span>
                    </div>
                </div>
            </a>
            <a href="/artistAnsicht.html"> Link to Artist</a>
        </div>
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Produkt Preis</span>
                    </div>
                </div>
            </a>
            <a href="/artistAnsicht.html"> Link to Artist</a>
        </div>
    </div>
    <div class="row produktShop" >
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Produkt Preis</span>
                    </div>
                </div>
            </a>
            <a href="/artistAnsicht.html"> Link to Artist</a>
        </div>
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Produkt Preis</span>
                    </div>
                </div>
            </a>
            <a href="/artistAnsicht.html"> Link to Artist</a>
        </div>
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Produkt Preis</span>
                    </div>
                </div>
            </a>
            <a href="/artistAnsicht.html"> Link to Artist</a>
        </div>
    </div>
    <div class="row produktShop" >
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Produkt Preis</span>
                    </div>
                </div>
            </a>
            <a href="/artistAnsicht.html"> Link to Artist</a>
        </div>
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Produkt Preis </span>
                    </div>
                </div>
            </a>
            <a href="/artistAnsicht.html"> Link to Artist</a>
        </div>
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Produkt Preis</span>
                    </div>
                </div>
            </a>
            <a href="/artistAnsicht.html"> Link to Artist</a>
        </div>
    </div>
</div>
    -->