<div class="Webshoppage">
<div class="container">


    <div class="list-group-Segment">
        <a href="#" class="list-group-item" onclick="sortdivTops();">Tops</a>
        <a href="#" class="list-group-item" onclick="sortdivShirt();">Shirts</a>
        <a href="#" class="list-group-item" onclick="sortdivPullover();">Pullover</a>
        <a href="#" class="list-group-item" onclick="sortdivJacken();">Jacken</a>
    </div>
    <!-- Produnktpräsenationsbereich-->
    <!-- Zur Zeit 3 Reihen a 3 Produkte-->

    <div id="list">


    </div>
</div>
</div>
</div>