<div class="Webshoppage">
<div class="container">

    <div class="list-group-Segment">
        <a href="#" class="list-group-item" onclick="sorthideTops();">Tops</a>
        <a href="#" class="list-group-item" onclick="sorthideShirt();">Shirts</a>
        <a href="#" class="list-group-item" onclick="sorthidePullover();">Pullover</a>
        <a href="#" class="list-group-item" onclick="sorthideJacken();">Jacken</a>
    </div>
    <!-- Produnktpräsenationsbereich-->
    <!-- Zur Zeit 3 Reihen a 3 Produkte-->

    <div id="list">

        <div id="-2">
            <div class="aProdukt col-md-12">
                <a class="thumbnail" href="/produktAnsicht.html">
                    <!-- Einbindung des Bildes : hier Bsp link aus dem web-->
                    <img  src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/work%20in%20Progress.png?BCB" >
                    <div class="wrapper">
                        <div class="caption produktShopName">
                            <!-- wird auf Produktbild gelegt-->
                            <span>Shirt A Preis</span>
                        </div>
                    </div>
                </a>
                <!-- vergrößern img Ligthbox-->
                <a class="Lupe" href="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/work%20in%20Progress.png?BCB"data-lightbox="Shop:Shirt"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
                <!-- Bsp wie Artistlink einzubinden-->
                <a href="/artistAnsicht.html"> Link to Artist</a>

            </div>
        </div>
        <div id="-4">
            <div class="aProdukt col-md-12">
                <a class="thumbnail" href="/produktAnsicht.html">
                    <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                    <div class="wrapper">
                        <div class="caption produktShopName">
                            <span>Jacke A Preis</span>
                        </div>
                    </div>
                </a>
                <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Jacken"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
                <a href="/artistAnsicht.html"> Link to Artist</a>
            </div>
        </div>
        <div id="-4">
            <div class="aProdukt col-md-12">
                <a class="thumbnail" href="/produktAnsicht.html">
                    <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                    <div class="wrapper">
                        <div class="caption produktShopName">
                            <span>Jacke B Preis</span>
                        </div>
                    </div>
                </a>
                <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Jacken"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
                <a href="/artistAnsicht.html"> Link to Artist</a>
            </div>
        </div>
        <div id="-3">
            <div class="aProdukt col-md-12">
                <a class="thumbnail" href="/produktAnsicht.html">
                    <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                    <div class="wrapper">
                        <div class="caption produktShopName">
                            <span>Pullover A Preis</span>
                        </div>
                    </div>
                </a>
                <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Pullover"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
                <a href="/artistAnsicht.html"> Link to Artist</a>
            </div>
        </div>
        <div id="-2">
            <div class="aProdukt col-md-12">
                <a class="thumbnail" href="/produktAnsicht.html">
                    <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                    <div class="wrapper">
                        <div class="caption produktShopName">
                            <span>Shirt B Preis</span>
                        </div>
                    </div>
                </a>
                <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Shirt"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
                <a href="/artistAnsicht.html"> Link to Artist</a>
            </div>
        </div>
        <div id="-3">
            <div class="aProdukt col-md-12">
                <a class="thumbnail" href="/produktAnsicht.html">
                    <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                    <div class="wrapper">
                        <div class="caption produktShopName">
                            <span>Pullover B Preis</span>
                        </div>
                    </div>
                </a>
                <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Pullover"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
                <a href="/artistAnsicht.html"> Link to Artist</a>
            </div>
        </div>
        <div id="-4">
            <div class="aProdukt col-md-12">
                <a class="thumbnail" href="/produktAnsicht.html">
                    <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                    <div class="wrapper">
                        <div class="caption produktShopName">
                            <span>Jacke C Preis</span>
                        </div>
                    </div>
                </a>
                <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Jacken"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
                <a href="/artistAnsicht.html"> Link to Artist</a>
            </div>
        </div>
        <div id="-1">
            <div class="aProdukt col-md-12">
                <a class="thumbnail" href="/produktAnsicht.html">
                    <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                    <div class="wrapper">
                        <div class="caption produktShopName">
                            <span>Tops A Preis</span>
                        </div>
                    </div>
                </a>
                <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Tops"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
                <a href="/artistAnsicht.html"> Link to Artist</a>
            </div>
        </div>
        <div id="-1">
            <div class="aProdukt col-md-12">
                <a class="thumbnail" href="/produktAnsicht.html">
                    <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                    <div class="wrapper">
                        <div class="caption produktShopName">
                            <span>Tops B Preis</span>
                        </div>
                    </div>
                </a>
                <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Tops"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
                <a href="/artistAnsicht.html"> Link to Artist</a>
            </div>
        </div>
    </div>
</div>
</div>