<div class="Webshoppage">
<div class="container">

    <div class="list-group-Segment">
        <a href="#" class="list-group-item" onclick="sortdivTops();">Tops</a>
        <a href="#" class="list-group-item" onclick="sortdivShirt();">Shirts</a>
        <a href="#" class="list-group-item" onclick="sortdivPullover();">Pullover</a>
        <a href="#" class="list-group-item" onclick="sortdivJacken();">Jacken</a>
    </div>
    <!-- Produnktpräsenationsbereich-->
    <!-- Zur Zeit 3 Reihen a 3 Produkte-->

    <div id="list">

        <div id="-2">
            <div class="aProdukt col-md-12">
                <a class="thumbnail" href="/produktAnsicht.html">
                    <!-- Einbindung des Bildes : hier Bsp link aus dem web-->
                    <img  src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/work%20in%20Progress.png?BCB" >
                    <div class="wrapper">
                        <div class="caption produktShopName">
                            <!-- wird auf Produktbild gelegt-->
                            <span>Shirt 1 Preis</span>
                        </div>
                    </div>
                </a>
                <!-- vergrößern img Ligthbox-->
                <a class="Lupe" href="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/work%20in%20Progress.png?BCB"data-lightbox="Shop:Shirt"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
                <!-- Bsp wie Artistlink einzubinden-->
                <a href="/artistAnsicht.html"> Link to Artist</a>

            </div>
        </div>
        <div id="-4">
            <div class="aProdukt col-md-12">
                <a class="thumbnail" href="/produktAnsicht.html">
                    <img  src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/work%20in%20Progress.png?BCB" >
                    <div class="wrapper">
                        <div class="caption produktShopName">
                            <span>Jacke 1 Preis</span>
                        </div>
                    </div>
                </a>
                <a class="Lupe" href="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/work%20in%20Progress.png?BCB"  data-lightbox="Shop:Jacken"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
                <a href="/artistAnsicht.html"> Link to Artist</a>
            </div>
        </div>
        <div id="-4">
            <div class="aProdukt col-md-12">
                <a class="thumbnail" href="/produktAnsicht.html">
                    <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                    <div class="wrapper">
                        <div class="caption produktShopName">
                            <span>Jacke 2 Preis</span>
                        </div>
                    </div>
                </a>
                <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Jacken"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
                <a href="/artistAnsicht.html"> Link to Artist</a>
            </div>
        </div>
        <div id="-3">
            <div class="aProdukt col-md-12">
                <a class="thumbnail" href="/produktAnsicht.html">
                    <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                    <div class="wrapper">
                        <div class="caption produktShopName">
                            <span>Pullover 1 Preis</span>
                        </div>
                    </div>
                </a>
                <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Pullover"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
                <a href="/artistAnsicht.html"> Link to Artist</a>
            </div>
        </div>
        <div id="-2">
            <div class="aProdukt col-md-12">
                <a class="thumbnail" href="/produktAnsicht.html">
                    <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                    <div class="wrapper">
                        <div class="caption produktShopName">
                            <span>Shirt 2 Preis</span>
                        </div>
                    </div>
                </a>
                <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Shirt"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
                <a href="/artistAnsicht.html"> Link to Artist</a>
            </div>
        </div>
        <div id="-3">
            <div class="aProdukt col-md-12">
                <a class="thumbnail" href="/produktAnsicht.html">
                    <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                    <div class="wrapper">
                        <div class="caption produktShopName">
                            <span>Pullover 2 Preis</span>
                        </div>
                    </div>
                </a>
                <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Pullover"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
                <a href="/artistAnsicht.html"> Link to Artist</a>
            </div>
        </div>
        <div id="-4">
            <div class="aProdukt col-md-12">
                <a class="thumbnail" href="/produktAnsicht.html">
                    <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                    <div class="wrapper">
                        <div class="caption produktShopName">
                            <span>Jacke 3 Preis</span>
                        </div>
                    </div>
                </a>
                <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Jacken"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
                <a href="/artistAnsicht.html"> Link to Artist</a>
            </div>
        </div>
        <div id="-1">
            <div class="aProdukt col-md-12">
                <a class="thumbnail" href="/produktAnsicht.html">
                    <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                    <div class="wrapper">
                        <div class="caption produktShopName">
                            <span>Tops 1 Preis</span>
                        </div>
                    </div>
                </a>
                <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Tops"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
                <a href="/artistAnsicht.html"> Link to Artist</a>
            </div>
        </div>
        <div id="-1">
            <div class="aProdukt col-md-12">
                <a class="thumbnail" href="/produktAnsicht.html">
                    <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                    <div class="wrapper">
                        <div class="caption produktShopName">
                            <span>Tops 2 Preis</span>
                        </div>
                    </div>
                </a>
                <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Tops"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
                <a href="/artistAnsicht.html"> Link to Artist</a>
            </div>
        </div>
        <div id="-4">
            <div class="aProdukt col-md-12">
                <a class="thumbnail" href="/produktAnsicht.html">
                    <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                    <div class="wrapper">
                        <div class="caption produktShopName">
                            <span>Jacke 4 Preis</span>
                        </div>
                    </div>
                </a>
                <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Jacken"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
                <a href="/artistAnsicht.html"> Link to Artist</a>
            </div>
        </div>
        <div id="-4">
            <div class="aProdukt col-md-12">
                <a class="thumbnail" href="/produktAnsicht.html">
                    <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                    <div class="wrapper">
                        <div class="caption produktShopName">
                            <span>Jacke 5 Preis</span>
                        </div>
                    </div>
                </a>
                <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Jacken"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
                <a href="/artistAnsicht.html"> Link to Artist</a>
            </div>
        </div>
    <div id="-1">
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Tops 3 Preis</span>
                    </div>
                </div>
            </a>
            <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Tops"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
            <a href="/artistAnsicht.html"> Link to Artist</a>
        </div>
    </div>
    <div id="-1">
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Tops 4 Preis</span>
                    </div>
                </div>
            </a>
            <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Tops"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
            <a href="/artistAnsicht.html"> Link to Artist</a>
        </div>
    </div>
    <div id="-1">
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Tops 5 Preis</span>
                    </div>
                </div>
            </a>
            <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Tops"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
            <a href="/artistAnsicht.html"> Link to Artist</a>
        </div>
    </div>
    <div id="-1">
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Tops 6 Preis</span>
                    </div>
                </div>
            </a>
            <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Tops"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
            <a href="/artistAnsicht.html"> Link to Artist</a>
        </div>
    </div>
    <div id="-1">
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Tops 7 Preis</span>
                    </div>
                </div>
            </a>
            <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Tops"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
            <a href="/artistAnsicht.html"> Link to Artist</a>
        </div>
    </div>
    <div id="-1">
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Tops 8 Preis</span>
                    </div>
                </div>
            </a>
            <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Tops"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
            <a href="/artistAnsicht.html"> Link to Artist</a>
        </div>
    </div>
    <div id="-1">
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Tops 9 Preis</span>
                    </div>
                </div>
            </a>
            <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Tops"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
            <a href="/artistAnsicht.html"> Link to Artist</a>
        </div>
    </div>
    <div id="-1">
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Tops 10 Preis</span>
                    </div>
                </div>
            </a>
            <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Tops"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
            <a href="/artistAnsicht.html"> Link to Artist</a>
        </div>
    </div>
    <div id="-3">
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Pullover 3 Preis</span>
                    </div>
                </div>
            </a>
            <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Pullover"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
            <a href="/artistAnsicht.html"> Link to Artist</a>
        </div>
    </div>
    <div id="-3">
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Pullover 4 Preis</span>
                    </div>
                </div>
            </a>
            <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Pullover"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
            <a href="/artistAnsicht.html"> Link to Artist</a>
        </div>
    </div>
    <div id="-3">
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Pullover 5 Preis</span>
                    </div>
                </div>
            </a>
            <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Pullover"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
            <a href="/artistAnsicht.html"> Link to Artist</a>
        </div>
    </div>
    <div id="-3">
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Pullover 6 Preis</span>
                    </div>
                </div>
            </a>
            <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Pullover"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
            <a href="/artistAnsicht.html"> Link to Artist</a>
        </div>
    </div>
    <div id="-3">
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Pullover 7 Preis</span>
                    </div>
                </div>
            </a>
            <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Pullover"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
            <a href="/artistAnsicht.html"> Link to Artist</a>
        </div>
    </div>
    <div id="-3">
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Pullover 8 Preis</span>
                    </div>
                </div>
            </a>
            <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Pullover"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
            <a href="/artistAnsicht.html"> Link to Artist</a>
        </div>
    </div>
    <div id="-3">
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Pullover 9 Preis</span>
                    </div>
                </div>
            </a>
            <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Pullover"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
            <a href="/artistAnsicht.html"> Link to Artist</a>
        </div>
    </div>
    <div id="-3">
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Pullover 10 Preis</span>
                    </div>
                </div>
            </a>
            <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Pullover"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
            <a href="/artistAnsicht.html"> Link to Artist</a>
        </div>
    </div>
    <div id="-2">
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Shirt 3 Preis</span>
                    </div>
                </div>
            </a>
            <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Shirt"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
            <a href="/artistAnsicht.html"> Link to Artist</a>
        </div>
    </div>
    <div id="-2">
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Shirt 4 Preis</span>
                    </div>
                </div>
            </a>
            <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Shirt"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
            <a href="/artistAnsicht.html"> Link to Artist</a>
        </div>
    </div>
    <div id="-2">
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Shirt 5 Preis</span>
                    </div>
                </div>
            </a>
            <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Shirt"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
            <a href="/artistAnsicht.html"> Link to Artist</a>
        </div>
    </div>
    <div id="-2">
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Shirt 6 Preis</span>
                    </div>
                </div>
            </a>
            <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Shirt"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
            <a href="/artistAnsicht.html"> Link to Artist</a>
        </div>
    </div>
    <div id="-2">
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Shirt 7 Preis</span>
                    </div>
                </div>
            </a>
            <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Shirt"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
            <a href="/artistAnsicht.html"> Link to Artist</a>
        </div>
    </div>
    <div id="-2">
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Shirt 8 Preis</span>
                    </div>
                </div>
            </a>
            <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Shirt"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
            <a href="/artistAnsicht.html"> Link to Artist</a>
        </div>
    </div>
    <div id="-2">
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Shirt 9 Preis</span>
                    </div>
                </div>
            </a>
            <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Shirt"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
            <a href="/artistAnsicht.html"> Link to Artist</a>
        </div>
    </div>
    <div id="-2">
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Shirt 10 Preis</span>
                    </div>
                </div>
            </a>
            <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Shirt"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
            <a href="/artistAnsicht.html"> Link to Artist</a>
        </div>
    </div>
    <div id="-2">
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Shirt 11 Preis</span>
                    </div>
                </div>
            </a>
            <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Shirt"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
            <a href="/artistAnsicht.html"> Link to Artist</a>
        </div>
    </div>
    <div id="-2">
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Shirt 12 Preis</span>
                    </div>
                </div>
            </a>
            <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Shirt"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
            <a href="/artistAnsicht.html"> Link to Artist</a>
        </div>
    </div>
    <div id="-2">
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Shirt 13 Preis</span>
                    </div>
                </div>
            </a>
            <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Shirt"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
            <a href="/artistAnsicht.html"> Link to Artist</a>
        </div>
    </div>
    <div id="-2">
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Shirt 14 Preis</span>
                    </div>
                </div>
            </a>
            <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Shirt"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
            <a href="/artistAnsicht.html"> Link to Artist</a>
        </div>
    </div>
    <div id="-2">
        <div class="aProdukt col-md-12">
            <a class="thumbnail" href="/produktAnsicht.html">
                <img  src="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" >
                <div class="wrapper">
                    <div class="caption produktShopName">
                        <span>Shirt 15 Preis</span>
                    </div>
                </div>
            </a>
            <a class="Lupe" href="http://pics4.esprit.de/Shop/PicSPV_ZoomMainView/096EO1F013_110.jpg" data-lightbox="Shop:Shirt"><img src="https://thabefrijo-bq.global.ssl.fastly.net/v1/file/www/img/enlarge%20Lupe.png?BCB"/></a>
            <a href="/artistAnsicht.html"> Link to Artist</a>
        </div>
    </div>
    </div>
</div>
</div>